<header class="logo">
  <img class="logo-img" src="/img/logobg.png" alt="Logotipo XOXO Barber Shop">
  <h1 class="logo-text">Barber Shop</h1>
</header>
<main class="main-cancelok">
  <section class="cancelok-info">
    <h2 class="cancelok-title">Cancelación confirmada</h2>
    <p class="cancelok-text">
      ¡Hola, {{ user.name }}! Tu reserva para el día {{user.date}} a las {{user.hour}} ha sido cancelada. Por favor, no dudes en volver a visitarnos.
    </p>
    <a class="cancelok-button" href="/">Inicio</a>
  </section>
</main>
