<header class="logo">
  <img class="logo-img" src="/img/logobg.png" alt="Logotipo XOXO Barber Shop">
  <h1 class="logo-text">Barber Shop</h1>
</header>
<main class="main-booked">
  <section class="booked-info">
    <h2 class="booked-title">ERROR 404</h2>
    <div class="booked-text">
      <p>Página no encontrada.</p>
    </div>
    <a class="booked-button" href="/">Inicio</a>
  </section>
</main>