<header class="logo">
    <img class="logo-img" src="/img/logobg.png" alt="Logotipo XOXO Barber Shop">
    <h1 class="logo-text">Barber Shop</h1>
</header>
<main class="main-index">
  <div class="index-button">
    <a href="/citas/formulario">Realizar reserva</a>
  </div>
  <div class="index-button">
    <a href="/citas/modificar/id">Modificar reserva</a>
  </div>
  <div class="index-button">
    <a href="/citas/cancelar/id">Cancelar reserva</a>
  </div>
  <div class="index-button">
    <a href="/citas/consultar/email">Consultar reservas</a>
  </div>
</main>