<header class="logo">
  <img class="logo-img" src="/img/logobg.png" alt="Logotipo XOXO Barber Shop">
  <h1 class="logo-text">Barber Shop</h1>
</header>
<main class="main-booked">
  <section class="booked-info">
    <h2 class="booked-title">Reserva no disponible</h2>
    <div class="booked-text">
      <p>Esta reserva no existe. Pulsa el botón si deseas realizar otra reserva.</p>
    </div>
    <a class="booked-button" href="/citas/formulario">Reservar cita</a>
  </section>
</main>