<header class="logo">
  <img class="logo-img" src="/img/logobg.png" alt="Logotipo XOXO Barber Shop">
  <h1 class="logo-text">Barber Shop</h1>
</header>
<main class="main-pending">
  <section class="pending-info">
    <h2 class="pending-title">Pendiente confirmación</h2>
    <p class="pending-text">
      ¡Hola, {{ user.name }}! Gracias por solicitar una reserva con nosotros el {{user.date}} a las {{user.hour}}.
    </p>
    <p class="pending-text">
      Te hemos mandado un correo electrónico para que puedas confirmarla. Recuerda que tu cita no será válida hasta que no haya sido confirmada.
    </p>
    <a class="pending-button" href="/">Inicio</a>
  </section>
</main>